<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Form Fitness </title>
    <meta name="description" content="Master exercise form and achieve your fitness goals with Form Fitness. Our platform offers tools to ensure proper exercise execution, including an AI training assistant. Plus, get comprehensive nutrition support for peak performance and recovery. Start your fitness journey with Form Fitness today.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3957231012656976"crossorigin="anonymous"></script>

    <!-- CSS here -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/slicknav.css">
    <link rel="stylesheet" href="../static/css/flaticon.css">
    <link rel="stylesheet" href="../static/css/gijgo.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/animated-headline.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/css/themify-icons.css">
    <link rel="stylesheet" href="../static/css/slick.css">
    <link rel="stylesheet" href="../static/css/nice-select.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <style>
        .form-div{
            display: flex; 
            align-items:center; 
            justify-content: space-between;
            flex-direction: column;  
            color: #fff; 
            font-size: 30px;
            margin-bottom: 10px;
            font-family: oswald;
            flex-basis: 60%;
            font-family: cascadia code;
        }
        .input-file{
            font-size: 30px;
            margin-bottom: 50px;
            margin-left: 60px;
            text-align: center;
            align-items: center;
            padding-left: 100px;
        }
        .select-file{
            margin-bottom: 20px;
        }
        input::file-selector-button{
            border-radius: 3px;
            background: none;
            color: white;
            margin-right: 10px;
            border: solid white 2px;
            cursor: pointer;
            transition: 0.4s;
        }
        input::file-selector-button:hover{
            background-color: white;
            color: black;
        }

        
        
    </style>
</head>
<body class="black-bg">
    <div id="mainpage">
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="../static/img/logo/logo.png" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/#aboutus">About</a></li>
                                    <li><a href="/store">Store</a></li>
                                    <!-- <li><a href="courses.html">Courses</a></li> -->
                                    <!-- <li><a href="pricing.html">Pricing</a></li> -->
                                    <!-- <li><a href="gallery.html">Gallery</a></li> -->
                                    <li><a href="/#products">Products</a>
                                        <ul class="submenu">
                                            <li><a href="/#formdetection">Form Detection</a></li>
                                            <li><a href="/traingpt">TrainGPT</a></li>
                                            <li><a href="/nutrition">Nutrition</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>          
                       <!-- Mobile Menu -->
                       <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70">
                            <!-- <h2>File Upload Form</h2> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Gallery Area Start -->
    
            
            <!-- <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6" id="bench pressBox">
                                <div class="box snake mb-30">
                                    <div class="gallery-img big-img" style="background-image: url(../static/img/gallery/chest/benchpress-main.jpg);"></div>
                                    <div class="overlay">
                                        <div class="overlay-content">
                                            <h3>benchPress</h3>
                                            <a id="benchPress" class="button-link"><i class="ti-plus"></i></a>
                                        </div>                            
                                    </div>
                                </div>
                        </div>
                    
            </div> -->
            <div class="chestPress">
                <section class="about-chest fix pb-padding pt-50 pb-80">
                    <div class="support-wrapper align-items-center">
                        <div class="right-content2">
                            <!-- img -->
                            <div class="right-img wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                                <img src="../static/img/gallery/nutrition.jpg" alt="">
                            </div>
                        </div>
                        <div class="left-content2">
                            <!-- section tittle -->
                            <div class="section-tittle2 mb-20 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <div class="front-text">
                                    <h2 class="">File Upload Form</h2>
                                    <div class="form-div">
                                        <form action="/upload" method="post" enctype="multipart/form-data" id="uploadForm">
                                            <div class="select-file">
                                                <label for="file" style="color: #fff; ">Select file:</label>    
                                            </div>
                                            <div class="input-file">
                                                <input type="file" id="file" name="file" accept=".mp4" style="color: #FF0000; font-size: 20px; cursor: pointer;"> <!--Specify accepted file types>-->
                                            </div>
                                            <div class="submit-button">
                                                <button type="submit" class="border-btn">Upload</button>
                                            </div>       
                                        </form>
                                    </div>
                                    
                                </div>
                                <p id="clickMessage" style="margin-top: 10vh;font-size: 30px; color:greenyellow;display:none;">Processing May take sometime, please be patient..</p>
                            </div>
                            <script>
                                document.getElementById('uploadForm').addEventListener('submit', function(event) {
                                    document.getElementById('clickMessage').style.display = 'block';

                                });
                            </script>
                        </div>
                    </div>
                </section>
            </div>
    

    <!--? Gallery Area End here -->
    <!-- ? services-area -->
    <section class="services-area">
        <div class="container">
            <div class="row justify-content-between">

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 offset-md-1">
                    <div class="single-services mb-40 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                        <div class="features-icon">
                            <img src="../static/img/icon/icon2.svg" alt="" height="80px" width="80px">
                        </div>
                        <div class="features-caption">
                            <h3>Location</h3>
                            <p>Patiala, Punjab</p>
                            <p>India, 147004</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-40 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="features-icon">
                            <img src="../static/img/icon/icon1.svg" alt="" height="80px" width="80px">
                        </div>
                        <div class="features-caption">
                            <h3>Phone</h3>
                            <p>Phone NUmber</p>
                            <p> Second Phone Number</p>
                        </div>
                    </div>
                </div> -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-40 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                        <div class="features-icon">
                            <img src="../static/img/icon/icon3.svg" alt=""  height="80px" width="80px">
                        </div>
                        <div class="features-caption">
                            <h3>Email</h3>
                            <p>contact@formfitness.in</p>
                            <p>founder@formfitness.in</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <!--? Footer Start-->
    <div class="footer-area black-bg">
        <div class="container">
            <div class="footer-top footer-padding">
                <!-- Footer Menu -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-footer-caption mb-50 text-center">
                            <!-- logo -->
                            <div class="footer-logo wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                            <!-- Menu -->
                            <!-- Header Start -->
                            <div class="header-area main-header2 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                                <div class="main-header main-header2">
                                    <div class="menu-wrapper menu-wrapper2">
                                        <!-- Main-menu -->
                                        <div class="main-menu main-menu2 text-center">
                                            <nav>
                                                <ul>
                                                    <li><a href="index.html">Home</a></li>
                                                    <li><a href="about.html">About</a></li>
                                                    <li><a href="courses.html">Products</a></li>
                                                    <!-- <li><a href="pricing.html">Pricing</a></li> -->
                                                    <!-- <li><a href="gallery.html">Gallery</a></li> -->
                                                    <li><a href="contact.html">Contact</a></li>
                                                </ul>
                                            </nav>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                            <!-- Header End -->
                            <!-- social -->
                            <div class="footer-social mt-30 wow fadeInUp" data-wow-duration="3s" data-wow-delay=".8s">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-12">
                        <div class="footer-copy-right text-center">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Form Fitness
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer End-->
  </footer>
  <!-- Scroll Up -->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>
</div>
<!-- JS here -->
<!-- <script src="../static/js/chestworkout.js"></script> -->
<script src="../static/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="../static/js/vendor/jquery-1.12.4.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="../static/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/animated.headline.js"></script>
<script src="../static/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="../static/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="../static/js/jquery.nice-select.min.js"></script>
<script src="../static/js/jquery.sticky.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="../static/js/jquery.counterup.min.js"></script>
<script src="../static/js/waypoints.min.js"></script>
<script src="../static/js/jquery.countdown.min.js"></script>
<script src="../static/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="../static/js/contact.js"></script>
<script src="../static/js/jquery.form.js"></script>
<script src="../static/js/jquery.validate.min.js"></script>
<script src="../static/js/mail-script.js"></script>
<script src="../static/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="../static/js/plugins.js"></script>
<script src="../static/js/main.js"></script>

</body>
</html>