<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Form Fitness </title>
    <meta name="description" content="Master exercise form and achieve your fitness goals with Form Fitness. Our platform offers tools to ensure proper exercise execution, including an AI training assistant. Plus, get comprehensive nutrition support for peak performance and recovery. Start your fitness journey with Form Fitness today.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3957231012656976"crossorigin="anonymous"></script>

    
    <!-- CSS here -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/slicknav.css">
    <link rel="stylesheet" href="../static/css/flaticon.css">
    <link rel="stylesheet" href="../static/css/gijgo.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/css/animated-headline.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/css/themify-icons.css">
    <link rel="stylesheet" href="../static/css/slick.css">
    <link rel="stylesheet" href="../static/css/nice-select.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="black-bg">
    <!-- ? Preloader Start -->
    <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div> -->
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="../static/img/logo/logo.png" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/#aboutus">About</a></li>
                                    
                                    <!-- <li><a href="pricing.html">Pricing</a></li> -->
                                    <!-- <li><a href="gallery.html">Gallery</a></li> -->
                                    <li><a href="/#products">Products</a>
                                        <ul class="submenu">
                                            <li><a href="/#formDetection">Form Detection</a></li>
                                            <li><a href="/traingpt">TrainGPT</a></li>
                                            <li><a href="/nutrition">Nutrition</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/#contactus">Contact</a></li>
                                </ul>
                            </nav>
                        </div>          
                       <!-- Mobile Menu -->
                       <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70">
                            <h2>Store</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Gallery Area Start -->
    <div class="gallery-area">
        <div class="container-fluid ">
            <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                            <div class="box snake mb-30">
                                <div class="gallery-img big-img" style="background-image: url(../static/img/gallery/store/whey-protein-bg.png);"></div>
                                <div class="overlay">
                                    <div class="overlay-content">
                                        <h3>Whey Protien</h3>
                                        <a target="_blank" href="https://www.amazon.in/Nutrition-Standard-Alphonso-Recovery-Vegetarian/dp/B0D1VJ3C7R/ref=sr_1_1_sspa?crid=394MGJZ342CU8&amp;dib=eyJ2IjoiMSJ9.ZhnvWRjM25NARH03-wNA6yVK_pef_J44-e8dMvRkfwghpQZejZo8t_XINB0UdxeLAQ8LILI_DcQiQLsMAuBgs8UXwcsG-hIrhVrugJVFd5Vx6ptaG28SJWhUwlbjTINVFAXoMuEXjNEayliRDtF8cAzG2No50GuOY6HcvZZ20geeYdLuJF3bJrQ_gXD-H2pBTsWvD0U5BQMPWBk4Ov92H8L9vDeihmf5_g37SIwd9p1V7gmXYoLBKpzPmJtBXF9QqtS3Cse7piM1XLUNH4biqTVfR3rTyMXNGBSnNGwOmVs.DiMyr8SIcRvHP_mhxpCUDNj6vktkvA49ZRvunrpreBk&amp;dib_tag=se&amp;keywords=whey+protein&amp;qid=1715358120&amp;sprefix=whey+protein%252Caps%252C293&amp;sr=8-1-spons&amp;sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&amp;psc=1&_encoding=UTF8&tag=formfitness0d-21&linkCode=ur2&linkId=32ab52cf8a4b2b076e53eb1025684d03&camp=3638&creative=24630" class="button-link"><i class="ti-plus"></i></a>
                                    </div>                            
                                </div>
                            </div>   
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                        <div class="box snake mb-30">
                            <div class="gallery-img big-img" style="background-image: url(../static/img/gallery/store/creatine-removebg-preview.png);"></div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <h3>Creatine </h3>
                                    <a target="_blank" href="https://www.amazon.in/Optimum-Nutrition-Micronized-Creatine-Powder/dp/B0C4LRGMD3/ref=sr_1_2_sspa?crid=ZBFFWW6N4095&amp;dib=eyJ2IjoiMSJ9.fVUujyZhDX9ZyMuI3eh6KvvVa0SswhDobrmvkM0FpI5pck83y2maD7F_gWfOlg-kqhDrnBDiHqmf1DeCxSyRgiXOcAtP7oO5mWP37mbGYN2iqPwjr7Zo3kbXhNj15_xqyJlGFY6XFItt-Ju-SpFLyb-gUOq8-pseq6ebOuxJj6YSBYc7TYIyjatdX6B6BfdsGMhG3ne--teloiY8S7QdYE4zuR3VtHXDiYWuxKFtmirlEEjVGW2ZnyzXjgqg02PAUi97wuUscJfaBdyzpv5LRkDUX8_PxBzOCZsVb1t2QAM.xeB7YVkC9p6zEQ8LMmRrgjTx9wnjKO3el58F0zc2HeA&amp;dib_tag=se&amp;keywords=creatine&amp;qid=1715358364&amp;sprefix=creatin%252Caps%252C294&amp;sr=8-2-spons&amp;sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&amp;psc=1&_encoding=UTF8&tag=formfitness0d-21&linkCode=ur2&linkId=5782f158bcbb8f469d326a843a0688b7&camp=3638&creative=24630" class="button-link"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                        <div class="box snake mb-30">
                            <div class="gallery-img big-img" style="background-image: url(../static/img/gallery/store/fish-oil-bg.png);"></div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <h3>Fish Oil </h3>
                                    <a target="_blank" href="https://www.amazon.in/MuscleBlaze-Omega-Fish-Oil-1000/dp/B07CNV8XM7/ref=sr_1_7?crid=4UB5EES3DGDV&amp;dib=eyJ2IjoiMSJ9.jMc3Z5Lji0jrNtd7Lg9vY-eOI5EjdDweOie4CXNLoxRrzqW1zWbcGHQTooqDrX6DhQHbRGKC4k1ovg_mewfiHo84DoiQVju48L-jjcC-H2MtNl57o4RrH3vp2jgUcfIg-rHkXLgcX-jD3DzVPq43iwDT_TRa21w8GPTf2GAbPmkXY94qpLYwG-63HlAHtI8jD8B-roIxh2R1gBQJEovz6vfZPCH1nHjFH6qk9A75jK2FrvzOHW7MidUPq8LifCdxVv8NsHcZ55AWTaZOwBl2ouVD7tqipKcrcHl3DMKry00.t-ygxhTe-Y0Nn-PfEZI6lunVGH3eFbwYIbNPNVLvLnE&amp;dib_tag=se&amp;keywords=fish%252Boil&amp;qid=1715358406&amp;sprefix=Fish%252Boil%252Caps%252C321&amp;sr=8-7&amp;th=1&_encoding=UTF8&tag=formfitness0d-21&linkCode=ur2&linkId=48adc7ace3167dcffe6e154959acb180&camp=3638&creative=24630" class="button-link"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="box snake mb-30">
                            <div class="gallery-img big-img" style="background-image: url(../static/img/gallery/store/pre-workout-bg.png);"></div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <h3>Pre Workout</h3>
                                    <a target="_blank" href="https://www.amazon.in/Muscle-Asylum-F9-Pre-Workout-Servings/dp/B0814ZJY1Z/ref=sr_1_3_sspa?crid=1SMVJW8T7C42G&amp;dib=eyJ2IjoiMSJ9.remnuZptsJRzxJLb6_nNJ2MWoE6kau-jtCzDGn8bAj8tg18PsvgPB8SySqxt2YblF3ePMrVnE5R5E-nlg43qRALjBjcczP1GJh9T_Lw8kiXSZQl7pj7WXUUL7YVzJaYkD6VcbW8yefAwyUIX-PUS0k-idTn5-2VIGW0tphmHDV70GVtPMqqoLkafA9JkU0TLQhFxVumGCdwUPHHevv5oRHWgYpLLYqy5uiCngB9vOH_YPPyUbY-tZaRoXvw5exBj1RPuTGXRKZb2snziwdYPVpYHx6IlYnuOmbhlRP3T4nQ.cc2-m9QANP9hAcxbldk-Dd_1ZqNqE-fkWan0dRYN5c&amp;dib_tag=se&amp;keywords=pre+workout&amp;qid=1715358477&amp;sprefix=resistance+band%252Caps%252C382&amp;sr=8-3-spons&amp;sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&amp;psc=1&_encoding=UTF8&tag=formfitness0d-21&linkCode=ur2&linkId=d33e6a6d2076b22246561b0f76c6aaf8&camp=3638&creative=24630"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="box snake mb-30">
                            <div class="gallery-img big-img" style="background-image: url(../static/img/gallery/store/resistance-band.jpg);"></div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <h3>Resistance Band</h3>
                                    <a target="_blank" href="https://www.amazon.in/SICHER-Resistance-Calisthenics-Physical-Exercises/dp/B07KTXLQYF/ref=sr_1_1_sspa?crid=2HB12CJV7QL89&amp;dib=eyJ2IjoiMSJ9.Ityk4a4QYSoSWShK8U4cibKiRk-R1odeGpYJPgVBj4wwjm0J95PToz916HtYhAjfbKhDzsKlgR9IgpyC63U9suEE-bzR9BKrFewbpDyhqhOZjffalhGdGI_csvaV7NGN4EANzpbGDpuruTay8eV3uwsULVJV6mn3mIZ27ye1Mf7xpRSOWMgM6TfmmAgFV2GUqjjbuOo52TPgKcyt1hFUsNp_vItCV2ySzo2jzPS2iPisrbvu0ViZPaYJxe7GLxwVTy1lPkbsikxUnDonS9h0v0h2J6CJTzCQC1rUtRXfYqs.is5t-OX9M_YKHt-uYOFnU3aaqWBQfZ5BQsrgzSkktgo&amp;dib_tag=se&amp;keywords=resistance+bands+workout&amp;qid=1715358664&amp;sprefix=Resistance+bands+w%252Caps%252C283&amp;sr=8-1-spons&amp;sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&amp;psc=1&_encoding=UTF8&tag=formfitness0d-21&linkCode=ur2&linkId=b7fe724a3ed022ce2c4d67a1db4cae8e&camp=3638&creative=24630"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="box snake mb-30">
                            <div class="gallery-img big-img" style="background-image: url(../static/img/gallery/store/electrolyte-removebg-preview.png); "></div>

                            <div class="overlay">
                                <div class="overlay-content">
                                    <h3>Electrolyte </h3>
                                    <a target="_blank" href="https://www.amazon.in/Ketofy-Electrolytes-2x250g-Optimal-Hydration/dp/B08DRNVK9X/ref=sr_1_1_sspa?crid=3CSNT4XLVJVZF&amp;dib=eyJ2IjoiMSJ9.7R9S4SEzSIOzfUpGE8l-91H-uCGMdXAxI-TUjHguInYyNwgbPDQ2dD9As6afyRmtWQYgjVJxnX9HHx6kRF9knymBYhCnJXMjYmDK8nYeP79ZCNrgUZ61o9XRflW5EmzArVm7_tH8-5NhJJ2fnY-Q6pWjBWnsai7mL3kWGvsXchsai968r3nZNLwtjyZhlqbYYeH2-5h0quYMxg6O9ZV8tqm_bNHQPmsGhI1h5p8z5YrzsSFUxCDJB96rV9TSV7f_W5yPiXZp5gx8-u9UFgC3E0-NQ4LZ21PVpghurnMmq88.r3msmO_Bib3TsKZ4pTywQz98Q6Jbc9V5VyC_k2lhQ-M&amp;dib_tag=se&amp;keywords=electrolyte%252Bpowder&amp;qid=1715358541&amp;sprefix=Elect%252Caps%252C269&amp;sr=8-1-spons&amp;sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&amp;th=1&_encoding=UTF8&tag=formfitness0d-21&linkCode=ur2&linkId=a18eedf965593321360ae1ff925bd7d6&camp=3638&creative=24630"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                        <div class="box snake mb-30">
                            <div class="gallery-img big-img" style="background-image: url(../static/img/gallery/store/BCAA-removebg-preview.png);"></div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <h3>BCAA</h3>
                                    <a target="_blank" href="https://www.amazon.in/Optimum-Nutrition-BCAA-BCAAs-Endurance/dp/B0BW9QMKZ4/ref=sr_1_1_sspa?crid=2ECNIQNRGTMHJ&amp;dib=eyJ2IjoiMSJ9.UN_XPJ9w5hqo_m_zfXnThDyz0NYuYhdyflhrJqWhvC1QHLc3YAZQvyFQlYNXEpieT_HYC0j6WrX_d6hK6rNBKvMoVK_q1Cu6QciIwM5xB2t0GfCA8C-Mxm5NtWqzga9F_Ev7ViZpvpX4gkDDlVXTr4tJ-xQjVY2JFE9doQ-LovEYPLxcRSijOn82L7yT6df24RFutyeWMPGvmuIOMtDdusVaHe7RZEomeHRxHPDNA_fFTWbVJoWSQPpTmmOpt8tKwWbd69VvPR53Iz137VjPBl9P5XHyw2xgoCXS91kZEzQ.2Oi8BGhenHrIRnCkIo5QUuSi4OWUuOFtKWCKx-UHtLQ&amp;dib_tag=se&amp;keywords=BCAA&amp;qid=1715358596&amp;sprefix=bcaa%252Caps%252C288&amp;sr=8-1-spons&amp;sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&amp;psc=1&_encoding=UTF8&tag=formfitness0d-21&linkCode=ur2&linkId=e6e1e9652dfea0b570af1a36da82f13c&camp=3638&creative=24630" class="button-link"><i class="ti-plus"></i></a>
                                </div>                            
                            </div>
                        </div>   
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                        <div class="box snake mb-30">
                            <div class="gallery-img big-img" style="background-image: url(../static/img/gallery/store/lifting-straps-removebg-preview.png);"></div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <h3>Lifting Straps </h3>
                                    <a target="_blank" href="https://www.amazon.in/Boldfit-Supporter-Accessories-Deadlift-Weightlifting/dp/B0BRZX8X6K/ref=sr_1_1_sspa?crid=2VZRKF67FKB1L&amp;dib=eyJ2IjoiMSJ9.tfyzrUcQgW_kshTcP8IMh2aHo75y2sx0UjfZVhELfuBqsrM2fr6Gl-ubZe4bX8Jdxif3NMQJ8x7oyQwLrpoMvhVWmfngDJm0t-WZ1GIGe_J0_BmF_ON4OzYpVdkSjymQ1hWDh51KPMJDD0bTrgnWGDx4WVPOTQvVOWjEngkUqKPWNXU7-UdRV5gOSJKfhALLa96thvCSg-UaRk-flv4kF20tFezojDWBRQUKTamzCvXwAFeHa3T7xT3-YWH5jwueetrjoywFJuix69w9g0X4I6vPnfmwIDKHTzQ51apW1n4.h2MQPk62SmRHDUND0uNq3qtdksrqS3sRkLH-Wu8zs28&amp;dib_tag=se&amp;keywords=lifting+straps&amp;qid=1715358708&amp;sprefix=lifting+straps%252Caps%252C264&amp;sr=8-1-spons&amp;sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&amp;psc=1&_encoding=UTF8&tag=formfitness0d-21&linkCode=ur2&linkId=d57447d33b0dac1acef7ee7300eaff64&camp=3638&creative=24630" class="button-link"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                        <div class="box snake mb-30">
                            <div class="gallery-img big-img" style="background-image: url(../static/img/gallery/store/wrist-bands-removebg-preview.png);"></div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <h3>Wrist Bands </h3>
                                <a target="_blank" href="https://www.amazon.in/Nivia-11041-Cotton-Thumb-Support/dp/B07PW9SX6R/ref=sr_1_5?crid=1YUKQ1WJW12PX&amp;dib=eyJ2IjoiMSJ9.s--YZNr1DvAlaK3xZ-QE-uFHMFAA5s9nUz-9oQhZ3K9RtXWrbJK_dNAdHuXHVh6SuIQav4QVOyVjR622lBrbYQApLh0kqeBXM5nwKPsQowd0M2ogNQqZ0b6IZz3G1EN8ZbMnCp0XMIMO4svdWoEQII4NhQipV07P41xymivrSgbhSVmp5rpRxMBjkdKTffKu9686zPYjVEVBjJfvFqM0XKbQP2aV3VR0r8SZFn83flu5YBmUgx2F1XmHqa-ov_zUQobVewfZzKRvrkkHcB4yHaSMzu35k7rOOnrDBebU2OQ.gpEcJndGjGZgmye1nEVa6rt5s_5_CdFrhsPLaqPBbXs&amp;dib_tag=se&amp;keywords=wrist+bands+for+gym&amp;qid=1715358755&amp;sprefix=wrist+bands+for+gym%252Caps%252C264&amp;sr=8-5&_encoding=UTF8&tag=formfitness0d-21&linkCode=ur2&linkId=a7c8a288ad13d29845059072d652a92e&camp=3638&creative=24630" class="button-link"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="box snake mb-30">
                            <div class="gallery-img big-img" style="background-image: url(../static/img/gallery/store/elbow-support-removebg-preview.png);"></div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <h3>Elbow Support Wraps</h3>
                                    <a target="_blank" href="https://www.amazon.in/TYNOR-Elbow-Support-Black-Green/dp/B0C71L4C5Y/ref=sr_1_2_sspa?crid=3209P5BXOA8CN&amp;dib=eyJ2IjoiMSJ9.W5T87llI29z1A5q-0Q9IkMa0y9aKlWagCGDb8RUbkTl0OOXFLk-sLIZBL0pN-SrbrKY7yhW03mUa-mqQLtebmQpAa84hjVO6GZF1nBw1tb43pHLvQTwS1SU3ipVezIWGvSfJNxMb4e-oT692ikXbpuTnjuLMl4zmasgEnRwwnzJ9LhyAxG8p4kgpxcTWmGRCyQPi1O6i3im-UmM4VoHFvsvpvdCUA_lMk8J3La8YwJxLC_uKDFgQDI3A1nU7h0rEOb_04BGtSjWd-6dgwNhrug1BrpCV9QZVmJ3v3kVda8c.eS4t1vONEc8NlFknq0US5mjXC503rN90Fv1bnqxVcJ4&amp;dib_tag=se&amp;keywords=elbow+straps+for+gym&amp;qid=1715358797&amp;sprefix=elbow+straps+%252Caps%252C275&amp;sr=8-2-spons&amp;sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&amp;psc=1&_encoding=UTF8&tag=formfitness0d-21&linkCode=ur2&linkId=bacce433953a852f4a71f24a51e76384&camp=3638&creative=24630"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="box snake mb-30">
                            <div class="gallery-img big-img" style="background-image: url(../static/img/gallery/store/knee-wrap-removebg-preview.png);"></div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <h3>Knee Support Wraps </h3>
                                    <a target="_blank" href="https://www.amazon.in/Squgo-Compression-Support-Running-Cycling/dp/B0CN3C4LB3/ref=sr_1_3_sspa?crid=2QDBJLJ6Y5097&amp;dib=eyJ2IjoiMSJ9.2pFqIHrOek3EhLy_NqlMQmRnLmD52z8VAk9wfjAfEbt_bSUte0d209L2O88oW5Clq3hbnN5vBiXKMtCRUhzS0SxVHdUgOW0grEsJYMd7luo87ahK-Ud-vz3zkDy3aPKA493ibmGzKZf_B8XzDAH_AtcLHh6llXc0conYm83wJxt84O_vEGTtalzk4Gnt_s6GOM7GkYMiYvybAtvnpXvjGRm_J-FPo6PlqtN0lra_c5O54vmIvZRydLSLK-eT4X99IcanOXS-K6wvRwJiTX_5wJR2zQEjhaCkV31ANydMIM.6mkdOAkU6CFE1XVEelCERxoxW8mWjRO60---DTxDRkg&amp;dib_tag=se&amp;keywords=knee+support+wraps+gyp&amp;qid=1715358839&amp;sprefix=knee+support+wraps+gy%252Caps%252C247&amp;sr=8-3-spons&amp;sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&amp;psc=1&_encoding=UTF8&tag=formfitness0d-21&linkCode=ur2&linkId=dc6ebf7eb9e7d19a2731c512715e73f0&camp=3638&creative=24630"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="box snake mb-30">
                            <div class="gallery-img big-img" style="background-image: url(../static/img/gallery/store/lifting-belt-removebg-preview.png);"></div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <h3>Lifting Belt</h3>
                                    <a target="_blank" href="https://www.amazon.in/Leather-Powerlifting-Belt-Medium-Lifting-Professional/dp/B07ZB326JX/ref=sr_1_1_sspa?crid=1QI4XQ57KOIVZ&amp;dib=eyJ2IjoiMSJ9.6Q0u0XdtutUEKc0DlREq9AbRGmjHmmsknoobqUWHeAXx6zpdIgOZ1jT86iavm1bhFLwifUI82WRxPjXvGegB6kjhDRro9ji987lDHTY8-n5Hj7d_n6zrLGJSEXcCdrwv2AkHJCl4I4J0XwxsU3jP0Ei_3u40c5ZqOSdUauUA0aaY2tlIo_jml7-GLwWfRbehkK_aPu27nYVVpZ5CDLYw64iKBa78aK61qQMOXpC8Hts7GcpFU9quSrLOzZfgL8R06M3mnO8ri31ZM3SdvQOvTXH9pd1UrR0kJ78cf4gGvrw.2325A4ZeCXUMfBljF1yvkftMPvpJ33Dbq3YqHYXk29k&amp;dib_tag=se&amp;keywords=Powerlifting+belt&amp;qid=1715358892&amp;sprefix=powerlifting+bel%252Caps%252C304&amp;sr=8-1-spons&amp;sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&amp;psc=1&_encoding=UTF8&tag=formfitness0d-21&linkCode=ur2&linkId=657cafb1684c5731c08434923b127cb2&camp=3638&creative=24630"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="box snake mb-30">
                            <div class="gallery-img big-img" style="background-image: url(../static/img/gallery/store/powerlifting-lever-belt-goku-removebg-preview.png);"></div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <h3>Powerlifting Lever Belt Goku </h3>
                                    <a target="_blank" href="https://www.amazon.in/Xtremex-Weightlifting-Lever-Powerlifting-Women/dp/B0BYVJQJMD/ref=sr_1_13?crid=3H3IRJGS1K472&amp;dib=eyJ2IjoiMSJ9.6Q0u0XdtutUEKc0DlREq9I5oMC9JzKrfWk35OhNjoA5feBNF5oNlCtmLp-OrQ5cH_m-dQVc8gUIXiT-Jy5xDf-_Gb73v9RjURJPIOFMqh8Fe6w4eDZykymjrvYTXP-wHcJXCf9GpMbX3gw6fls-EozDoyq_yGm5R4SJTkYXLZXzSJEHOaapJonR5-tPGsJD9lhBz4H9f8kou_fl40C4l3Hmsr1rq70s838EUWnnuRRuVGdn_njyK07BdrgqmHDPXRTP25iopCp9pHgC0tNmp9RtoEtgT-4jsL0RTyUnbQmU.c6W_FVk-ln2wUUqU_AQT4tqM0B8v3S9dQ7KfAHkuogo&amp;dib_tag=se&amp;keywords=Powerlifting+belt+Lever&amp;qid=1715359003&amp;sprefix=powerlifting+belt+lever%252Caps%252C349&amp;sr=8-13&_encoding=UTF8&tag=formfitness0d-21&linkCode=ur2&linkId=2df0b93baedfa0268559b4e999018a0a&camp=3638&creative=24630"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <div class="box snake mb-30">
                            <div class="gallery-img big-img" style="background-image: url(../static/img/gallery/store/powerlifting-lever-belt-removebg-preview.png);"></div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <h3>Powerlifting Lever Belt </h3>
                                    <a target="_blank" href="https://www.amazon.in/USI-Universal-Buckle-Lifting-790LEV/dp/B0BKWKP656/ref=sr_1_14?crid=3H3IRJGS1K472&amp;dib=eyJ2IjoiMSJ9.6Q0u0XdtutUEKc0DlREq9I5oMC9JzKrfWk35OhNjoA5feBNF5oNlCtmLp-OrQ5cH_m-dQVc8gUIXiT-Jy5xDf-_Gb73v9RjURJPIOFMqh8Fe6w4eDZykymjrvYTXP-wHcJXCf9GpMbX3gw6fls-EozDoyq_yGm5R4SJTkYXLZXzSJEHOaapJonR5-tPGsJD9lhBz4H9f8kou_fl40C4l3Hmsr1rq70s838EUWnnuRRuVGdn_njyK07BdrgqmHDPXRTP25iopCp9pHgC0tNmp9RtoEtgT-4jsL0RTyUnbQmU.c6W_FVk-ln2wUUqU_AQT4tqM0B8v3S9dQ7KfAHkuogo&amp;dib_tag=se&amp;keywords=Powerlifting+belt+Lever&amp;qid=1715359003&amp;sprefix=powerlifting+belt+lever%252Caps%252C349&amp;sr=8-14&_encoding=UTF8&tag=formfitness0d-21&linkCode=ur2&linkId=a667c598893f281337749efba64ac6bc&camp=3638&creative=24630"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
    
    <!-- Gallery Area End -->
    <!-- ? services-area -->
    <section class="services-area">
        <div class="container">
            <div class="row justify-content-between">

                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 offset-md-1">
                    <div class="single-services mb-40 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
                        <div class="features-icon">
                            <img src="../static/img/icon/icon2.svg" alt="" height="80px" width="80px">
                        </div>
                        <div class="features-caption">
                            <h3>Location</h3>
                            <p>Patiala, Punjab</p>
                            <p>India, 147004</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-40 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="features-icon">
                            <img src="../static/img/icon/icon1.svg" alt="" height="80px" width="80px">
                        </div>
                        <div class="features-caption">
                            <h3>Phone</h3>
                            <p>Phone NUmber</p>
                            <p> Second Phone Number</p>
                        </div>
                    </div>
                </div> -->
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                    <div class="single-services mb-40 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                        <div class="features-icon">
                            <img src="../static/img/icon/icon3.svg" alt=""  height="80px" width="80px">
                        </div>
                        <div class="features-caption">
                            <h3>Email</h3>
                            <p>contact@formfitness.in</p>
                            <p>founder@formfitness.in</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <!--? Footer Start-->
    <div class="footer-area black-bg">
        <div class="container">
            <div class="footer-top footer-padding">
                <!-- Footer Menu -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-footer-caption mb-50 text-center">
                            <!-- logo -->
                            <div class="footer-logo wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                                <a href="/"><img src="../static/img/logo/logo.png" alt=""></a>
                            </div>
                            <!-- Menu -->
                            <!-- Header Start -->
                            <div class="header-area main-header2 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".4s">
                                <div class="main-header main-header2">
                                    <div class="menu-wrapper menu-wrapper2">
                                        <!-- Main-menu -->
                                        <div class="main-menu main-menu2 text-center">
                                            <nav>
                                                <ul>
                                                    <li><a href="/">Home</a></li>
                                                    <li><a href="/#aboutus">About</a></li>
                                                    <li><a href="/#products">Products</a></li>
                                                    <!-- <li><a href="pricing.html">Pricing</a></li> -->
                                                    <!-- <li><a href="gallery.html">Gallery</a></li> -->
                                                    <li><a href="/#aboutus">Contact</a></li>
                                                </ul>
                                            </nav>
                                        </div>   
                                    </div>
                                </div>
                            </div>
                            <!-- Header End -->
                            <!-- social -->
                            <div class="footer-social mt-30 wow fadeInUp" data-wow-duration="3s" data-wow-delay=".8s">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-12">
                        <div class="footer-copy-right text-center">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Form Fitness
                              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer End-->
  </footer>
  <!-- Scroll Up -->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script src="../static/js/workout.js"></script>
<script src="../static/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="../static/js/vendor/jquery-1.12.4.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="../static/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="../static/js/owl.carousel.min.js"></script>
<script src="../static/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/animated.headline.js"></script>
<script src="../static/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="../static/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="../static/js/jquery.nice-select.min.js"></script>
<script src="../static/js/jquery.sticky.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="../static/js/jquery.counterup.min.js"></script>
<script src="../static/js/waypoints.min.js"></script>
<script src="../static/js/jquery.countdown.min.js"></script>
<script src="../static/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="../static/js/contact.js"></script>
<script src="../static/js/jquery.form.js"></script>
<script src="../static/js/jquery.validate.min.js"></script>
<script src="../static/js/mail-script.js"></script>
<script src="../static/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="../static/js/plugins.js"></script>
<script src="../static/js/main.js"></script>

</body>
</html>